<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.xiaomaihd.zfengche.child.model.Child" alias="Child"/>
        <typeAlias type="com.xiaomaihd.zfengche.user.model.SimpleUser" alias="SimpleUser"/>
        <typeAlias type="com.xiaomaihd.zfengche.user.model.User" alias="User"/>
        <typeAlias type="com.xiaomaihd.zfengche.user.model.UserBlogIndex" alias="UserBlogIndex"/>
        <typeAlias type="com.xiaomaihd.zfengche.user.model.UserRelation" alias="UserRelation"/>
        <typeAlias type="com.xiaomaihd.zfengche.user.model.UserProfile" alias="UserProfile"/>

        <typeAlias type="com.xiaomaihd.zfengche.blog.model.Blog" alias="Blog"/>
        <typeAlias type="com.xiaomaihd.zfengche.blog.model.BlogCountInfo" alias="BlogCountInfo"/>
        <typeAlias type="com.xiaomaihd.zfengche.blog.model.BlogRelation" alias="BlogRelation"/>
        <typeAlias type="com.xiaomaihd.zfengche.blog.model.BlogForShow" alias="BlogForShow"/>
        <typeAlias type="com.xiaomaihd.zfengche.blog.model.BlogForShowWithMedias" alias="BlogForShowWithMedias"/>
        <typeAlias type="com.xiaomaihd.zfengche.blog.model.BlogMediaIndex" alias="BlogMediaIndex"/>
        <typeAlias type="com.xiaomaihd.zfengche.blog.model.ReferenceBlog" alias="ReferenceBlog"/>


        <typeAlias type="com.xiaomaihd.zfengche.city.model.Province" alias="Province"/>
        <typeAlias type="com.xiaomaihd.zfengche.city.model.City" alias="City"/>


    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="java.math.RoundingMode"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.common.ContentType"/>


        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.user.UserType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.user.UserSource"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.user.UserStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.user.UserGender"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.user.UserRelationType"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.blog.BlogType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.blog.MediaType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.blog.BlogStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.blog.BlogHotType"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.vendor.VendorContentType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.product.ProductStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.product.ProductQuestionStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.product.ProductType"/>


        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.common.BusinessType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.common.Status"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.zfengche.version.enums.VersionStatus"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.message.MessageType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.message.MessageBusinessType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.circle.ShowType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.post.PostContentType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.banner.BannerType"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.post.PostType"/>


        <!-- 订单-->
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.order.OrderStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.order.PaymentType"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.recommendNew.RecommendNewType"/>

        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.xiaomaihd.commons.base.enums.selfshot.SelfShotStatus"/>

    </typeHandlers>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="true"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
            <property name="pageSizeZero" value="true"/>
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="true"/>
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
            <property name="params" value="pageNum=start;pageSize=limit;pageSizeZero=zero;reasonable=heli;count=contsql"/>
        </plugin>
    </plugins>
</configuration>


