<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
        >

    <!-- 引入属性文件 -->
    <!--<context:property-placeholder location="classpath:config.properties"/>-->

    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="org.yyf.gradleDemo">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.exmail.qq.com" />
        <property name="host" value="smtp.qq.com" />
        <property name="port" value="25" />
        <!--<property name="username" value="***@bjnja.com" />-->
        <!--<property name="password" value="****" />-->

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">6000</prop>
            </props>
        </property>
    </bean>

    <!--启用aop-->
    <aop:aspectj-autoproxy/>

    <!-- 启动线程池，或者异步任务 -->
    <task:annotation-driven executor="eMailTaskExecutor" />
    <task:executor id="eMailTaskExecutor" queue-capacity="10" pool-size="5-10" keep-alive="60"
                   rejection-policy="CALLER_RUNS"/>
</beans>
